<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.popcorntime.androidtv" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <application
        android:name="pct.droid.base.PopcornApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Leanback" >
        <activity
            android:name=".MainActivity"
            android:icon="@drawable/banner"
            android:label="@string/app_name"
            android:logo="@drawable/banner"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MovieDetailsActivity" />
        <activity android:name=".BrowseErrorActivity" />
        <activity android:name=".PlaybackActivity" />
        <activity android:name=".StreamLoadingActivity" />
        <activity
            android:name=".MediaDetailsActivity"
            android:label="@string/title_activity_media_details" >
        </activity>

        <service android:name="pct.droid.base.torrent.TorrentService" />

        <receiver
            android:name="pct.droid.base.torrent.TorrentBroadcastReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="pct.droid.base.torrent.TorrentBroadcastReceiver.STOP" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".SearchActivity"
            android:label="@string/title_activity_searching" >
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
    </application>

</manifest>
